<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheet/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>

</head>

<body>
    <h1 class="head">User Login</h1>
    <div class="container">
        <div class="inner-container">
            <form action="#" method="post" id="my-form">
                <label for="email"><strong>Email</strong></label><br>
                <input type="email" name="email" class="input"><br><br>

                <label for="password"><strong>Password</strong></label><br>
                <input type="password" name="password" class="input"><br><br>

                <div class="btn-container">
                    <input type="submit" value="Login" class="btn">
                </div>
            </form>
        </div>
    </div>
    <script>
        $('form#my-form').submit(function (e) {
            e.preventDefault();
            const data = new FormData(this);
            $.ajax({
                url: '/user/sign-in',
                type: 'POST',
                data: data,
                success: (response) => {
                    window.location.href = response.route;
                },
                error: (response) => {
                    if(response.status == 400){
                        alert(`Error Code : ${response.status}\nError Message : ${response.responseJSON[0].message}`);
                    }
                    else{
                        console.log(response.responseJSON)
                        alert(`Error Code : ${response.status}\nError Message : ${response.responseJSON.message}`);
                    }
                }, 
                cache: false,
                contentType: false,
                processData: false,
            })
        });
    </script>
</body>

</html>